@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">General Store is a simple web app powered by ASP.NET Web MVC that allows users to come to a general store and create and manage products, customers, and transactions.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
           Click on the navbar button link to visit the general store or click below to go to General Store
        </p>
        <p><a class="btn btn-default" href="/Product/Index">View General Store &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click here to learn more about General Store.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">More Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get In Touch</h2>
        <p>Click here to contact the owners of General Store with your feedback.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact &raquo;</a></p>
    </div>
</div>