@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Products</h1>
    <p class="lead">
        Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
        Come browse our products and see what we have for you.
    </p>
    @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
           Click on the navbar button link to visit the general store or click below to go to General Store
        </p>
        <p><a class="btn btn-default" href="/Product/Index">View General Store &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click here to learn more about General Store.</p>
        @Html.ActionLink("Learn More About Us", "About")
    </div>
    <div class="col-md-4">
        <h2>Get In Touch</h2>
        <p>Click here to contact the owners of General Store with your feedback.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact &raquo;</a></p>
    </div>
</div>